.tnc-label-recuit {
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    border: 2px #ffcd19 dotted;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    position: relative;
    color: #7d681a;
    background: #faebd7
}

.tnc-label-recuit .text {
    margin: 0 0 10px
}

.tnc-label-recuit a {
    color: #6495ed;
    margin-left: 5px
}

.tnc-label-small {
    background: rgb(248 215 97);
    margin-top: 10px;
    display: inline-block;
    position: relative;
    padding: 0 6px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    width: 120px;
    text-shadow: 0 0 3px #fff;
    color: #7d681a;
    text-shadow: 0 0 3px #000;
    color: #fff;
    text-shadow: 0 0 3px #fff;
    color: red
}

.tnc-label-small:before {
    border: 37px solid transparent;
    border-width: 28px;
    width: calc(100% + 56px);
    left: -28px
}

.tnc-label-small:after {
    border-color: rgb(248 215 97);
    border-width: 8px 18px;
    border-style: solid;
    border-top-color: transparent;
    width: 5px;
    height: 8px;
    top: -8px;
    left: 50%;
    transform: translate(-50%, 0)
}

.tnc-label-small:after, .tnc-label-small:before {
    position: absolute;
    content: "";
    bottom: 0;
    z-index: 2
}

#reading h2 {
    font-family: Oswald;
    font-weight: 400;
    font-size: 24px
}

.book3d img {
    width: 180px;
    height: 270px
}

@media (min-width: 1025px) {
    .book3d {
        -moz-perspective: 300px;
        -moz-transform: rotateY(-3deg);
        -webkit-transform: perspective(300) rotateY(-3deg);
        box-shadow: 5px 5px 20px #333;
        display: inline-block
    }

    .book3d:before {
        width: 100%;
        left: 7.5%;
        background-color: #000
    }

    .book3d:after, .book3d:before {
        position: absolute;
        top: 2%;
        height: 96%;
        content: " ";
        z-index: -1
    }

    .book3d:after {
        width: 5%;
        left: 100%;
        background-color: #efefef;
        box-shadow: inset 0 0 5px #aaa;
        -moz-transform: rotateY(20deg);
        -webkit-transform: perspective(300) rotateY(20deg)
    }

    .book3dcenter {
        margin-bottom: 15px
    }
}

.cpt.truyen h1 {
    float: right;
    text-align: center
}

.cpt.truyen ul.listchap {
    padding-left: 0;
    list-style: none;
    margin: 10px 0;
    font-size: 15px
}

.cpt.truyen .listchap li {
    list-style: none;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.link-pages-number {
    text-align: center;
    margin: 10px 0
}

.link-pages-number .post-page-numbers {
    border: solid 1px #000;
    border-radius: 4px;
    margin: 4px 2px;
    padding: .6rem 1rem;
    display: inline-block
}

.link-pages-number .post-page-numbers:hover {
    border: solid 1px #000;
    background: linear-gradient(135deg, #848484 30%, #000 100%);
    color: #fff;
    border-radius: 4px;
    margin: 4px 2px;
    padding: .6rem 1rem;
    display: inline-block
}

.link-pages-number .post-page-numbers.current {
    background: linear-gradient(135deg, #000 30%, #848484 100%);
    color: #fff;
    cursor: not-allowed;
    border-radius: 4px;
    margin: 4px 2px;
    padding: .6rem 1rem;
    display: inline-block;
    border: solid 1px #000
}

.link-pages-next .post-page-numbers {
    border: solid 1px #000;
    border-radius: 4px;
    margin: 4px 2px;
    padding: .6rem 1rem;
    display: inline-block
}

.link-pages-next .post-page-numbers:hover {
    border: solid 1px #000;
    background: linear-gradient(135deg, #848484 30%, #000 100%);
    color: #fff;
    border-radius: 4px;
    margin: 4px 2px;
    padding: .6rem 1rem;
    display: inline-block
}

.link-pages-next .post-page-numbers.current {
    background: linear-gradient(135deg, #000 30%, #848484 100%);
    color: #fff;
    cursor: not-allowed;
    border-radius: 4px;
    margin: 4px 2px;
    padding: .6rem 1rem;
    display: inline-block;
    border: solid 1px #000
}

ul.theloai-thumlist {
    padding-left: 0
}

.theloai-thumlist > li {
    display: block;
    padding-left: 0;
    margin-bottom: 10px
}

.theloai-thumlist strong {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px
}

@media (min-width: 1200px) {
    .theloai-thumlist h3 {
        min-height: 45px
    }
}

.theloai-thumlist p {
    margin-bottom: 4px;
    margin-top: 4px
}

.theloai-thumlist .thumbnail {
    width: 60px;
    height: 90px;
    float: left;
    box-shadow: 0 2px 8px rgba(1, 3, 3, .16);
    position: relative
}

.theloai-thumlist .thumbnail img {
    width: 60px;
    height: 90px
}

.theloai-thumlist .content {
    overflow: hidden;
    padding-left: 10px;
    font-size: 13px
}

@media (min-width: 320px) {
    .book3dcenter {
        text-align: center
    }

    .cpt.truyen h1 {
        width: 100%;
        padding-left: unset
    }
}

@media (min-width: 768px) {
    .book3dcenter {
        text-align: center
    }

    .cpt.truyen h1 {
        width: 65%;
        padding-left: unset
    }
}

@media (min-width: 1200px) {
    .book3dcenter {
        text-align: left
    }

    .cpt.truyen h1 {
        width: 75%;
        padding-left: 9px
    }
}

.title-chap {
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 20px
}

.link-pages-number {
    display: flex;
    justify-content: space-between;
    align-items: center
}

form#pagination {
    display: flex
}

form#pagination .form-group {
    margin-bottom: 0
}

form#pagination .form-group-2 {
    display: flex;
    align-items: center
}

form#pagination .form-control-2 {
    max-width: 130px
}

.link-pages-number .next:before {
    content: "Chương Sau »"
}

.link-pages-number .pre:before {
    content: "« Chương Trước"
}

.link-pages-number .page-text:before {
    content: "Trang "
}

@media only screen and (max-width: 767px) {
    .link-pages-number .next:before {
        content: "»»"
    }

    .link-pages-number .pre:before {
        content: "««"
    }

    .link-pages-number .page-text:before {
        content: ""
    }

    form#pagination .form-control-2 {
        max-width: 110px
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px;
        margin: 30px auto
    }
}

.show_all_chap .row a {
    font-size: 14px;
    line-height: 30px
}

.show_all_chap .modal-body .col-xs-12 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.show_all_chap .modal-body .alert {
    margin-bottom: 0
}

audio {
    display: flex;
    margin: auto;
    width: 100%
}

@media (max-width: 768px) {
    .cpt.truyen h1.crop-text-1 {
        font-size: 24px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-line-clamp: 2
    }
}

.explanation {
    border: 10px solid #fff;
    padding: .5rem 1.5rem 1.5rem;
    border-radius: 16px;
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(#1ebbf045), to(#39dfaa1c));
    background: linear-gradient(to right, #1ebbf045, #39dfaa1c);
    margin: 0 0 1rem
}

.explanation::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 1px solid #1ebbf0;
    border-radius: 8px;
    pointer-events: none
}

.explanation::after {
    font-family: Oswald;
    content: "Chương Mới Nhất";
    color: #fff;
    font-weight: 400;
    top: -25px;
    left: 1rem;
    background: #100e17;
    padding: 0 .5rem;
    font-size: 16px;
    position: absolute;
    z-index: 1
}

.explanation-combo::after {
    content: "Ưu Đãi Dành Cho Bạn"
}

#newchap .explanation::after {
    color: #000;
    background: #fff
}

#newchap {
    margin: 25px 0
}

#newchap li div {
    padding-left: 0
}

#dsc .listchap li {
    border-bottom: 1px dashed #ccc6
}

.btn-r {
    background-image: linear-gradient(135deg, red 30%, #fe9a2e 100%)
}

.btn-r:hover {
    background-image: linear-gradient(135deg, #fe9a2e 30%, red 100%)
}

.btn.border-primary:hover {
    color: #1ebbf0
}

#admin {
    padding-top: 20px
}

.label-new {
    border: 1px solid #1ebbf0;
    color: #1ebbf0
}

.label-title {
    padding: 1px 3px;
    font-size: 13px;
    vertical-align: bottom;
    margin-left: 5px
}

.label-new:before {
    content: "New"
}

#truyen_button {
    margin-top: 15px
}

p.info.infomation {
    margin: 7px 0
}

p.info.infomation span:first-child {
    width: 100px;
    float: left
}

#rate {
    text-align: center
}

.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl
}

.rate-hover {
    display: inline-block;
    margin-left: 15px;
    font-style: italic;
    position: absolute
}

.rating div {
    display: inline-block;
    cursor: pointer
}

.rating div:after {
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f005";
    color: #d2d2d2
}

.rating:hover > div:after {
    color: #d2d2d2
}

.rating div:hover ~ div:after, .rating > div:hover:after {
    background: -webkit-linear-gradient(145deg, #1ebbf0 50%, #39dfaa 50%);
    color: transparent;
    -webkit-background-clip: text;
    text-decoration: none
}

.rating div.active:after {
    color: orange
}

.rating div.half_active:after {
    background: -webkit-linear-gradient(145deg, #d2d2d2 40%, orange 60%);
    color: transparent;
    -webkit-background-clip: text;
    text-decoration: none
}

.rating div.active:hover:after, .rating div.half_active:hover:after {
    background: -webkit-linear-gradient(145deg, #1ebbf0 40%, #39dfaa 60%);
    color: transparent;
    -webkit-background-clip: text;
    text-decoration: none
}

.rate-info {
    margin-bottom: 5px
}

@media (max-width: 768px) {
    #rate {
        margin-top: 15px
    }
}

#truyen_tabs {
}

#truyen_tabs .nav > li > a {
    padding: 10px 7px
}

.thong_tin {
    margin-top: 15px
}

hr.keyword {
    margin: 15px 0
}

#sort {
    cursor: pointer
}

h1 {
    margin-bottom: 10px
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        margin-bottom: 0
    }
}

#all_chap a {
    display: flex;
    align-items: center
}

#all_chap span {
    margin-right: 10px
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px
}

#thong_tin table, #thong_tin td, #thong_tin tr {
    border: unset;
    padding: 0
}

#thong_tin th {
    font-weight: 400;
    text-align: left
}

#thong_tin td {
    width: 100px
}

@media (min-width: 1200px) {
    #thong_tin td {
        width: 120px
    }
}

#dsc .listchap img {
    margin-top: -5px;
    width: 29px;
    height: 20px
}

.slick-slide a {
    color: #000;
    font-weight: 700;
    text-align: center
}

.slider-premiumItem-img {
    padding-top: 20px
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slider-premiumItem-img .slick-prev {
    left: 15px
}

.slider-premiumItem-img .slick-arrow {
    width: 40px;
    height: 40px
}



.slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slider-cont .slick-slide, .slider-cont a {
    outline: 0
}

.slider-cont .slider-item {
    float: left
}

.slick-initialized .slick-slide {
    display: block
}

.slick-slide img {
    display: block
}

.slider-premiumItem-img .slick-next {
    right: 15px
}

.slider-premiumItem-img .slick-arrow {
    width: 40px;
    height: 40px
}

.slider-cont .slick-arrow {
    z-index: 5;
    text-align: center;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ebebeb;
    margin: 3px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
    border: 1px #1ebbf0 solid
}

.slick-next {
    right: -25px
}

.slider-premiumItem-img .slider-item {
    width: 100px;
    padding: 0 7.5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.slider-cont .slick-arrow .fa {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
}

.slick-dots li button:focus, .slick-dots li button:hover {
    outline: 0
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after, .slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

#slider-premiumItem-img .crop-text-2 {
    font-size: 12px;
    margin-top: 5px
}

.related-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.slick-slide img {
    width: 100%
}

.slider-item .author {
    display: none
}

@media (min-width: 768px) {
    .slider-premiumItem-img .slider-item {
        padding: 0 10px
    }
}

@media (min-width: 992px) {
    .slider-item .author {
        display: -webkit-box
    }

    .slider-premiumItem-img .slider-item {
        padding: unset;
        width: unset;
        clear: both;
        display: inline-flex
    }

    .slider-item img {
        width: 60px;
        height: 90px
    }

    .zthumbnail {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px
    }

    #slider-premiumItem-img .crop-text-2 {
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 7px
    }

    .slider-item .content {
        display: block
    }

    .slider-cont {
        height: 530px;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
        padding-top: 10px;
    }
}

/*h1, h3 {*/
/*    font-family: oswald;*/
/*    font-weight: 400*/
/*}*/

#button_reading, #button_follow, #clickapp {
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
    display: inline-block;
    border-radius: 3px
}

.tnc-label-small {
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1)
}

#truyen_button .btn-sm {
    font-size: 1.2rem;
    font-family: marmelad, sans-serif
}

#truyen_button .btn-sm.border-primary {
    border-color: #1eb6f0
}

.excerpt-full a {
    border-bottom: 1px dashed #000;
    padding: 2px
}

.excerpt-full a:hover {
    background: -webkit-linear-gradient(135deg, #1ebbf0 30%, #39dfaa 100%);
    color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
    font-weight: 600;
    border-bottom: unset;
    padding: unset
}

.excerpt {
    font-family: roboto, arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #4e4e4e
}

.keyword a {
    border-radius: 15px;
    padding: .6rem 1rem;
    box-sizing: border-box;
    color: #0f0f0f;
    background: rgba(0, 0, 0, .05);
    background-clip: padding-box;
    margin: 4px 2px;
    display: inline-block;
    cursor: pointer;
    font-size: 1.34rem;
    font-weight: 500;
    font-family: roboto, sans-serif
}

.keywords .keyword:first-child a {
    margin-left: 0
}

.keyword:hover a {
    color: #0f0f0f;
    background: rgba(0, 0, 0, .1)
}

.dlcc {
    transform: skewX(-10deg);
    height: 32px;
    width: 110px;
    border-radius: 20px 5px 20px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(96 211 255), rgb(58 235 228));
    color: #000;
    margin-left: 10px
}

.dlcc:before {
    box-shadow: inset 0 0 30px 0 #fff;
    content: "";
    display: block;
    width: calc(100% - 22px);
    height: calc(32px - 8px);
    position: absolute;
    border: 1px solid #fff;
    border-radius: 15px 3px 15px 3px
}

.dlcc span {
    transform: skewX(10deg)
}

.dlcc:hover {
    border-radius: 5px 20px 0 20px;
    transform: skewX(10deg)
}

.dlcc:hover span {
    transform: skewX(-10deg)
}

.dlcc:hover:before {
    border-radius: 3px 15px 3px 15px
}

.table-column3 {
    width: calc(100% - 240px);
    text-align: right !important
}

#thong_tin table {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 0
}

.item-column3 {
    width: 120px;
    float: right;
    text-align: left;
    font-size: 14px;
    color: #333
}

#thong_tin .number {
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    line-height: 1
}

.want-full {
    border-bottom: 1px dashed #000;
    font-size: 15px
}

.read-more, .read-less {
    position: relative;
    display: inline-block;
    font-size: 1.35rem;
    font-weight: 500;
    font-family: roboto, sans-serif;
    color: #333;
    cursor: zoom-in
}

.read-less {
    cursor: zoom-out
}

.read-more span, .read-less span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 0
}

.read-more:before, .read-more:after, .read-less:before, .read-less:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #333;
    transition: all .3s ease
}

.read-less:before, .read-less:after {
    right: 0;
    left: unset
}

.read-more:before, .read-less:before {
    height: 0%;
    width: 2px
}

.read-more:after, .read-less:after {
    width: 0%;
    height: 2px
}

.read-more:hover, .read-less:hover {
    background: 0 0
}

.read-more:hover:before, .read-less:hover:before {
}

.read-more:hover:after, .read-less:hover:after {
    width: 100%
}

.read-more span:before, .read-more span:after, .read-less span:before, .read-less span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    transition: all .3s ease
}

.read-more span:before, .read-less span:before {
    width: 2px;
    height: 0%
}

.read-more span:after, .read-less span:after {
    height: 2px;
    width: 0%
}

.read-more span:hover:before, .read-less span:hover:before {
}

.read-more span:hover:after, .read-less span:hover:after {
}

.uptop {
    color: #0f0f0f;
    background: rgba(0, 0, 0, .05);
    display: inline-block;
    cursor: pointer;
    font-size: 1.34rem;
    font-weight: 500;
    font-family: roboto, sans-serif;
    border-radius: 15px;
    padding: .6rem 1rem
}

#truyen_tabs .dropdown:hover .dropdown-menu {
    display: block
}

.nav-tabs .badge {
    position: absolute;
    top: -8px;
    right: 0;
    background: #4d4d4d
}

#truyen_tabs .nav .open > a, #truyen_tabs .nav .open > a:hover, #truyen_tabs .nav .open > a:focus {
    border-color: #ddd
}

#truyen_tabs .nav > li.tabz > a:focus, #truyen_tabs .nav > li.tabz > a:active, #truyen_tabs .nav > li.tabz > a:hover {
    background: #fff;
    border-color: #fff;
    border-bottom-color: #ddd
}

#truyen_tabs .nav {
    margin: auto
}

#truyen_tabs .nav {
    display: flex;
    align-items: center;
    justify-content: center
}
